# Exploration Data Analysis of BDR dataset

In [1]:
import pyspark
import pandas as pd
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('BDR').getOrCreate()
print(spark)

<pyspark.sql.session.SparkSession object at 0x000001ABAA898EF0>

# Loading Data

In [3]:
path='C:\\Users\\kathrinrodriguez\\Desktop\\Projects\\Mexico-Santander\\Data\\'

In [4]:
pd_BDR = pd.read_csv(path+'Muestra_Limp_BDR.txt', sep = '\t')

In [8]:
pd_BDR

,CONTRA,G4124_FEOPERAC,G4124_TIP_GARA,G4124_BIENGAR1,G4124_FECINI,G4124_FECBAJA,G4124_FECVCTO,G4124_PORCOBER,G4124_COB_INIC,G4124_IMPT_NOM,G4124_IMP_ACTU,G4124_REPAPORC
0,1,30NOV2018,1,8235689,15AUG2017,31OCT2026,31OCT2026,100.000000,100.000000,377024.36,269708.54,100.0000
1,1,30NOV2018,1,8361707,29NOV2006,31DEC9999,31OCT2026,100.000000,100.000000,377024.36,269708.54,100.0000
2,1,30NOV2018,2,82862,29NOV2006,31OCT2026,31OCT2026,177.599122,100.000000,377024.36,479000.00,100.0000
3,2,30NOV2018,2,83012,11DEC2006,30NOV2021,30NOV2021,557.649552,100.000000,255509.23,496000.00,100.0000
4,3,30NOV2018,2,2427,07DEC1995,15OCT2025,15OCT2025,190.386600,100.000000,862086.00,616777.63,100.0000
5,5,30NOV2018,2,4525,26DEC1995,16JAN2026,16JAN2026,93.576183,100.000000,265361.00,134572.33,100.0000
6,6,30NOV2018,2,7837,07SEP1995,16SEP2020,16SEP2020,122.628972,100.000000,194889.31,233952.73,100.0000
7,7,30NOV2018,2,8665,21AUG1995,15SEP2020,15SEP2020,633.457433,100.000000,100644.00,73129.24,100.0000
8,9,30NOV2018,2,4065,16JUL1996,16JUL2026,16JUL2026,99.953276,100.000000,352441.00,199355.88,100.0000
9,10,30NOV2018,2,8053,26SEP1996,15NOV2026,15NOV2026,99.656373,100.000000,943918.00,559189.63,100.0000
10,11,30NOV2018,2,4550,09OCT1995,15OCT2020,15OCT2020,558.875451,100.000000,276610.00,182605.40,100.0000
11,13,30NOV2018,2,5265,15JAN1996,16JAN2026,16JAN2026,92.071349,100.000000,308938.00,156547.57,100.0000
12,21,30NOV2018,2,84833,29NOV2006,31OCT2021,31OCT2021,668.525317,100.000000,351319.08,745000.00,100.0000
13,23,30NOV2018,2,38282,25SEP1997,15SEP2027,15SEP2027,88.703030,73.916514,94000.00,84600.00,100.0000
14,25,30NOV2018,2,82203,19OCT2006,30SEP2025,30SEP2025,191.714514,100.000000,767801.21,913000.00,100.0000
15,27,30NOV2018,2,7163,23DEC1996,15FEB2027,15FEB2027,70.619011,100.000000,267868.07,40632.95,100.0000
16,28,30NOV2018,2,7988,20SEP1996,16NOV2026,16NOV2026,66.539644,100.000000,1184759.00,559159.07,100.0000
17,31,30NOV2018,2,47937,29JAN2004,31DEC2018,31DEC2018,298.558812,100.000000,592698.47,600000.00,100.0000
18,33,30NOV2018,2,50384,25AUG2004,31OCT2019,31OCT2019,999.999999,100.000000,236169.23,524000.00,100.0000
19,34,30NOV2018,2,54595,30MAY2005,30APR2020,30APR2020,677.286010,100.000000,261158.06,270000.00,100.0000
20,35,30NOV2018,2,54966,23MAY2005,30APR2020,30APR2020,999.999999,100.000000,467719.86,2311000.00,100.0000
21,36,30NOV2018,2,58565,19AUG2005,31JUL2019,31JUL2019,999.999999,100.000000,630571.67,827000.00,100.0000
22,37,30NOV2018,2,58869,19AUG2005,31JUL2020,31JUL2020,999.999999,100.000000,402208.68,844000.00,100.0000
23,38,30NOV2018,2,58754,01NOV2005,31OCT2020,31OCT2020,598.300358,100.000000,254387.80,383000.00,100.0000
24,39,30NOV2018,2,59079,01NOV2005,31OCT2020,31OCT2020,335.984784,100.000000,806490.24,1049000.00,100.0000
25,40,30NOV2018,2,58026,18NOV2005,31OCT2025,31OCT2025,265.573565,100.000000,567985.35,911000.00,100.0000
26,41,30NOV2018,2,57918,03NOV2005,31OCT2020,31OCT2020,999.999999,100.000000,289947.46,1781000.00,100.0000
27,42,30NOV2018,2,74763,10MAR2006,28FEB2021,28FEB2021,634.602522,100.000000,437884.40,763000.00,100.0000
28,43,30NOV2018,2,83073,03NOV2006,31MAY2020,31MAY2020,258.637869,100.000000,823933.01,1027000.00,100.0000
29,44,30NOV2018,2,15149,14NOV1995,15NOV2025,15NOV2025,165.320558,100.000000,319357.00,204571.61,100.0000
...,...,...,...,...,...,...,...,...,...,...,...,...
7055210,192998,31DEC2018,2,418201,27APR2018,03MAY2038,03MAY2038,159.461671,0.000000,0.00,1090828.82,90.6004
7055211,192999,31DEC2018,2,418201,27APR2018,03MAY2038,03MAY2038,159.460188,0.000000,0.00,113169.98,9.3995
7055212,193000,31DEC2018,1,108216162,27DEC2018,03MAY2038,03MAY2038,5.000000,100.000000,4617132.91,230856.65,5.0000
7055213,193000,31DEC2018,1,113501526,30APR2018,03MAY2038,03MAY2038,100.000000,100.000000,4631690.88,4617132.91,100.0000
7055214,193000,31DEC2018,2,418151,27APR2018,03MAY2038,03MAY2038,137.163043,0.000000,0.00,6333000.00,100.0000
7055215,193001,31DEC2018,1,108216162,23NOV2018,03APR2038,03APR2038,30.000000,100.000000,1116496.49,334627.32,30.0000
7055216,193001,31DEC2018,1,113478382,18APR2018,03APR2038,03APR2038,100.000000,100.000000,1123668.45,1115424.39,100.0000
7055217,193001,31DEC2018,2,417526,16APR2018,03APR2038,03APR2038,111.347753,0.000000,0.00,1242000.00,100.0000
7055218,193002,31DEC2018,1,108216162,28SEP2018,03MAY2043,03MAY2043,30.000000,100.000000,742301.40,222402.77,30.0000
7055219,193002,31DEC2018,2,418483,30APR2018,03MAY2043,03MAY2043,152.830828,0.000000,0.00,1133000.00,100.0000
7055220,193003,31DEC2018,1,108216162,27DEC2018,03AUG2026,03AUG2026,25.000000,100.000000,832488.74,208122.19,25.0000
7055221,193003,31DEC2018,2,417453,13APR2018,03AUG2026,03AUG2026,132.254041,0.000000,0.00,1101000.00,100.0000
7055222,193004,31DEC2018,2,417452,13APR2018,03APR2033,03APR2033,107.917178,0.000000,0.00,1836000.00,100.0000
7055223,193005,31DEC2018,2,418541,30APR2018,03MAY2038,03MAY2038,274.745409,0.000000,0.00,1044565.07,80.0433
7055224,193006,31DEC2018,2,418541,30APR2018,03MAY2038,03MAY2038,274.745421,0.000000,0.00,260433.63,19.9566
7055225,193007,31DEC2018,2,417655,19APR2018,03MAY2025,03MAY2025,258.810628,0.000000,0.00,679896.50,95.2236
7055226,193008,31DEC2018,2,417655,19APR2018,03MAY2025,03MAY2025,258.807911,0.000000,0.00,34102.78,4.7763
7055227,193009,31DEC2018,2,418563,30APR2018,03MAY2028,03MAY2028,543.567614,0.000000,0.00,1258506.17,68.4715
7055228,193010,31DEC2018,2,418563,30APR2018,03MAY2028,03MAY2028,543.567456,0.000000,0.00,579491.99,31.5284
7055229,193011,31DEC2018,2,418538,30APR2018,03MAY2038,03MAY2038,417.045012,0.000000,0.00,1078026.95,90.5905
7055230,193012,31DEC2018,2,418538,30APR2018,03MAY2038,03MAY2038,417.042323,0.000000,0.00,111971.86,9.4094
7055231,193013,31DEC2018,1,59954590,03MAY2018,03MAY2028,03MAY2028,100.000000,100.000000,1256749.73,1218881.62,100.0000
7055232,193013,31DEC2018,2,418605,30APR2018,03MAY2028,03MAY2028,183.364813,0.000000,0.00,2235000.00,100.0000
7055233,193014,31DEC2018,2,417989,26APR2018,03FEB2030,03FEB2030,187.241535,0.000000,0.00,1258229.60,96.4900
7055234,193015,31DEC2018,2,417989,26APR2018,03MAY2033,03MAY2033,187.239849,0.000000,0.00,45769.10,3.5099
7055235,193016,31DEC2018,2,417783,17JUL2018,03MAY2038,03MAY2038,126.720884,0.000000,0.00,1501000.00,100.0000
7055236,193017,31DEC2018,2,417330,11APR2018,03APR2038,03APR2038,147.612857,0.000000,0.00,1091736.03,90.6005
7055237,193018,31DEC2018,2,417330,11APR2018,03APR2038,03APR2038,147.611511,0.000000,0.00,113262.77,9.3994
7055238,193019,31DEC2018,1,108216162,27DEC2018,03MAY2033,03MAY2033,25.000000,100.000000,4222308.15,1055577.04,25.0000
7055239,193019,31DEC2018,2,418082,27APR2018,03MAY2033,03MAY2033,112.379292,0.000000,0.00,4745000.00,100.0000

In [5]:
pd_BDR.columns

Index(['CONTRA', 'G4124_FEOPERAC', 'G4124_TIP_GARA', 'G4124_BIENGAR1',
       'G4124_FECINI', 'G4124_FECBAJA', 'G4124_FECVCTO', 'G4124_PORCOBER',
       'G4124_COB_INIC', 'G4124_IMPT_NOM', 'G4124_IMP_ACTU', 'G4124_REPAPORC'],
      dtype='object')

In [5]:
pd_BDR.dtypes

CONTRA              int64
G4124_FEOPERAC     object
G4124_TIP_GARA      int64
G4124_BIENGAR1      int64
G4124_FECINI       object
G4124_FECBAJA      object
G4124_FECVCTO      object
G4124_PORCOBER    float64
G4124_COB_INIC    float64
G4124_IMPT_NOM    float64
G4124_IMP_ACTU    float64
G4124_REPAPORC    float64
dtype: object

In [6]:
#cambiar nombre de las columnas
pd_BDR.columns = ['CONTRA',  #Number of contract
                  'Fecha_Operac', #Operation Date
                  'Tip_Garant',  #Garantee type
                  'BIENGAR1',    #?
                  'Fecha_Inicio', #Start Date
                  'Fecha_Baja',  #End Date
                  'Fecha_VCTO',  #Expiration Date
                  'PORCOBER',
                  'COB_INIC',  
                  'IMPT_NOM',
                  'IMP_ACTU',
                  'REPAPORC'
                ]

In [7]:
pd_BDR

,CONTRA,Fecha_Operac,Tip_Garant,BIENGAR1,Fecha_Inicio,Fecha_Baja,Fecha_VCTO,PORCOBER,COB_INIC,IMPT_NOM,IMP_ACTU,REPAPORC
0,1,30NOV2018,1,8235689,15AUG2017,31OCT2026,31OCT2026,100.000000,100.000000,377024.36,269708.54,100.0000
1,1,30NOV2018,1,8361707,29NOV2006,31DEC9999,31OCT2026,100.000000,100.000000,377024.36,269708.54,100.0000
2,1,30NOV2018,2,82862,29NOV2006,31OCT2026,31OCT2026,177.599122,100.000000,377024.36,479000.00,100.0000
3,2,30NOV2018,2,83012,11DEC2006,30NOV2021,30NOV2021,557.649552,100.000000,255509.23,496000.00,100.0000
4,3,30NOV2018,2,2427,07DEC1995,15OCT2025,15OCT2025,190.386600,100.000000,862086.00,616777.63,100.0000
5,5,30NOV2018,2,4525,26DEC1995,16JAN2026,16JAN2026,93.576183,100.000000,265361.00,134572.33,100.0000
6,6,30NOV2018,2,7837,07SEP1995,16SEP2020,16SEP2020,122.628972,100.000000,194889.31,233952.73,100.0000
7,7,30NOV2018,2,8665,21AUG1995,15SEP2020,15SEP2020,633.457433,100.000000,100644.00,73129.24,100.0000
8,9,30NOV2018,2,4065,16JUL1996,16JUL2026,16JUL2026,99.953276,100.000000,352441.00,199355.88,100.0000
9,10,30NOV2018,2,8053,26SEP1996,15NOV2026,15NOV2026,99.656373,100.000000,943918.00,559189.63,100.0000
10,11,30NOV2018,2,4550,09OCT1995,15OCT2020,15OCT2020,558.875451,100.000000,276610.00,182605.40,100.0000
11,13,30NOV2018,2,5265,15JAN1996,16JAN2026,16JAN2026,92.071349,100.000000,308938.00,156547.57,100.0000
12,21,30NOV2018,2,84833,29NOV2006,31OCT2021,31OCT2021,668.525317,100.000000,351319.08,745000.00,100.0000
13,23,30NOV2018,2,38282,25SEP1997,15SEP2027,15SEP2027,88.703030,73.916514,94000.00,84600.00,100.0000
14,25,30NOV2018,2,82203,19OCT2006,30SEP2025,30SEP2025,191.714514,100.000000,767801.21,913000.00,100.0000
15,27,30NOV2018,2,7163,23DEC1996,15FEB2027,15FEB2027,70.619011,100.000000,267868.07,40632.95,100.0000
16,28,30NOV2018,2,7988,20SEP1996,16NOV2026,16NOV2026,66.539644,100.000000,1184759.00,559159.07,100.0000
17,31,30NOV2018,2,47937,29JAN2004,31DEC2018,31DEC2018,298.558812,100.000000,592698.47,600000.00,100.0000
18,33,30NOV2018,2,50384,25AUG2004,31OCT2019,31OCT2019,999.999999,100.000000,236169.23,524000.00,100.0000
19,34,30NOV2018,2,54595,30MAY2005,30APR2020,30APR2020,677.286010,100.000000,261158.06,270000.00,100.0000
20,35,30NOV2018,2,54966,23MAY2005,30APR2020,30APR2020,999.999999,100.000000,467719.86,2311000.00,100.0000
21,36,30NOV2018,2,58565,19AUG2005,31JUL2019,31JUL2019,999.999999,100.000000,630571.67,827000.00,100.0000
22,37,30NOV2018,2,58869,19AUG2005,31JUL2020,31JUL2020,999.999999,100.000000,402208.68,844000.00,100.0000
23,38,30NOV2018,2,58754,01NOV2005,31OCT2020,31OCT2020,598.300358,100.000000,254387.80,383000.00,100.0000
24,39,30NOV2018,2,59079,01NOV2005,31OCT2020,31OCT2020,335.984784,100.000000,806490.24,1049000.00,100.0000
25,40,30NOV2018,2,58026,18NOV2005,31OCT2025,31OCT2025,265.573565,100.000000,567985.35,911000.00,100.0000
26,41,30NOV2018,2,57918,03NOV2005,31OCT2020,31OCT2020,999.999999,100.000000,289947.46,1781000.00,100.0000
27,42,30NOV2018,2,74763,10MAR2006,28FEB2021,28FEB2021,634.602522,100.000000,437884.40,763000.00,100.0000
28,43,30NOV2018,2,83073,03NOV2006,31MAY2020,31MAY2020,258.637869,100.000000,823933.01,1027000.00,100.0000
29,44,30NOV2018,2,15149,14NOV1995,15NOV2025,15NOV2025,165.320558,100.000000,319357.00,204571.61,100.0000
...,...,...,...,...,...,...,...,...,...,...,...,...
7055210,192998,31DEC2018,2,418201,27APR2018,03MAY2038,03MAY2038,159.461671,0.000000,0.00,1090828.82,90.6004
7055211,192999,31DEC2018,2,418201,27APR2018,03MAY2038,03MAY2038,159.460188,0.000000,0.00,113169.98,9.3995
7055212,193000,31DEC2018,1,108216162,27DEC2018,03MAY2038,03MAY2038,5.000000,100.000000,4617132.91,230856.65,5.0000
7055213,193000,31DEC2018,1,113501526,30APR2018,03MAY2038,03MAY2038,100.000000,100.000000,4631690.88,4617132.91,100.0000
7055214,193000,31DEC2018,2,418151,27APR2018,03MAY2038,03MAY2038,137.163043,0.000000,0.00,6333000.00,100.0000
7055215,193001,31DEC2018,1,108216162,23NOV2018,03APR2038,03APR2038,30.000000,100.000000,1116496.49,334627.32,30.0000
7055216,193001,31DEC2018,1,113478382,18APR2018,03APR2038,03APR2038,100.000000,100.000000,1123668.45,1115424.39,100.0000
7055217,193001,31DEC2018,2,417526,16APR2018,03APR2038,03APR2038,111.347753,0.000000,0.00,1242000.00,100.0000
7055218,193002,31DEC2018,1,108216162,28SEP2018,03MAY2043,03MAY2043,30.000000,100.000000,742301.40,222402.77,30.0000
7055219,193002,31DEC2018,2,418483,30APR2018,03MAY2043,03MAY2043,152.830828,0.000000,0.00,1133000.00,100.0000
7055220,193003,31DEC2018,1,108216162,27DEC2018,03AUG2026,03AUG2026,25.000000,100.000000,832488.74,208122.19,25.0000
7055221,193003,31DEC2018,2,417453,13APR2018,03AUG2026,03AUG2026,132.254041,0.000000,0.00,1101000.00,100.0000
7055222,193004,31DEC2018,2,417452,13APR2018,03APR2033,03APR2033,107.917178,0.000000,0.00,1836000.00,100.0000
7055223,193005,31DEC2018,2,418541,30APR2018,03MAY2038,03MAY2038,274.745409,0.000000,0.00,1044565.07,80.0433
7055224,193006,31DEC2018,2,418541,30APR2018,03MAY2038,03MAY2038,274.745421,0.000000,0.00,260433.63,19.9566
7055225,193007,31DEC2018,2,417655,19APR2018,03MAY2025,03MAY2025,258.810628,0.000000,0.00,679896.50,95.2236
7055226,193008,31DEC2018,2,417655,19APR2018,03MAY2025,03MAY2025,258.807911,0.000000,0.00,34102.78,4.7763
7055227,193009,31DEC2018,2,418563,30APR2018,03MAY2028,03MAY2028,543.567614,0.000000,0.00,1258506.17,68.4715
7055228,193010,31DEC2018,2,418563,30APR2018,03MAY2028,03MAY2028,543.567456,0.000000,0.00,579491.99,31.5284
7055229,193011,31DEC2018,2,418538,30APR2018,03MAY2038,03MAY2038,417.045012,0.000000,0.00,1078026.95,90.5905
7055230,193012,31DEC2018,2,418538,30APR2018,03MAY2038,03MAY2038,417.042323,0.000000,0.00,111971.86,9.4094
7055231,193013,31DEC2018,1,59954590,03MAY2018,03MAY2028,03MAY2028,100.000000,100.000000,1256749.73,1218881.62,100.0000
7055232,193013,31DEC2018,2,418605,30APR2018,03MAY2028,03MAY2028,183.364813,0.000000,0.00,2235000.00,100.0000
7055233,193014,31DEC2018,2,417989,26APR2018,03FEB2030,03FEB2030,187.241535,0.000000,0.00,1258229.60,96.4900
7055234,193015,31DEC2018,2,417989,26APR2018,03MAY2033,03MAY2033,187.239849,0.000000,0.00,45769.10,3.5099
7055235,193016,31DEC2018,2,417783,17JUL2018,03MAY2038,03MAY2038,126.720884,0.000000,0.00,1501000.00,100.0000
7055236,193017,31DEC2018,2,417330,11APR2018,03APR2038,03APR2038,147.612857,0.000000,0.00,1091736.03,90.6005
7055237,193018,31DEC2018,2,417330,11APR2018,03APR2038,03APR2038,147.611511,0.000000,0.00,113262.77,9.3994
7055238,193019,31DEC2018,1,108216162,27DEC2018,03MAY2033,03MAY2033,25.000000,100.000000,4222308.15,1055577.04,25.0000
7055239,193019,31DEC2018,2,418082,27APR2018,03MAY2033,03MAY2033,112.379292,0.000000,0.00,4745000.00,100.0000

In [9]:
pd_BDR.describe()

,CONTRA,Tip_Garant,BIENGAR1,PORCOBER,COB_INIC,IMPT_NOM,IMP_ACTU,REPAPORC
count,7.055240e+06,7.055240e+06,7.055240e+06,7.055240e+06,7.055240e+06,7.055240e+06,7.055240e+06,7.055240e+06
mean,9.454947e+04,1.661151e+00,2.075285e+07,1.959632e+02,1.810643e+02,1.302367e+06,1.131660e+06,8.031127e+01
std,5.343453e+04,4.733183e-01,3.921529e+07,2.057458e+02,1.493935e+02,6.621796e+06,8.011205e+06,3.538890e+01
min,1.000000e+00,1.000000e+00,9.550000e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,4.945800e+04,1.000000e+00,2.125420e+05,1.000000e+02,1.000000e+02,4.440000e+05,1.552806e+05,9.059630e+01
50%,9.530050e+04,2.000000e+00,3.096095e+05,1.377318e+02,1.389001e+02,7.958082e+05,6.000000e+05,1.000000e+02
75%,1.401350e+05,2.000000e+00,8.596657e+06,2.198393e+02,1.973063e+02,1.508933e+06,1.327000e+06,1.000000e+02
max,1.930190e+05,2.000000e+00,1.137419e+08,1.000000e+03,1.000000e+03,2.658692e+09,5.775288e+09,1.000000e+02

# Check the columns and rows

In [8]:
#Getting the number of rows & columns
pd_BDR.shape

(7055240, 12)

In [9]:
#Create spark dataframe from pandas dataframe
df_BDR = spark.createDataFrame(pd_BDR)

### Data Types

In [10]:
df_BDR.dtypes

[('CONTRA', 'bigint'),
 ('Fecha_Operac', 'string'),
 ('Tip_Garant', 'bigint'),
 ('BIENGAR1', 'bigint'),
 ('Fecha_Inicio', 'string'),
 ('Fecha_Baja', 'string'),
 ('Fecha_VCTO', 'string'),
 ('PORCOBER', 'double'),
 ('COB_INIC', 'double'),
 ('IMPT_NOM', 'double'),
 ('IMP_ACTU', 'double'),
 ('REPAPORC', 'double')]

### Change Data Types

In [ ]:
# from datetime import datetime
# datetime_str = '15AUG2017'
# datetime_object = datetime.strptime(datetime_str, '%d%b%Y').date()
# print(datetime_object)  # printed in default format

In [14]:
#Change from string to date type 
from datetime import datetime

def to_date (date_str):
    return datetime.strptime(date_str, '%d%b%Y').date()

#pd_BDR_mod['Fecha_Operac'] = pd_BDR['Fecha_Operac'].apply(lambda x: to_date(x), axis=1)
pd_BDR['Fecha_Operac'] = pd_BDR['Fecha_Operac'].apply(lambda x: to_date(x))
pd_BDR['Fecha_Inicio'] = pd_BDR['Fecha_Inicio'].apply(lambda x: to_date(x))
pd_BDR['Fecha_Baja'] = pd_BDR['Fecha_Baja'].apply(lambda x: to_date(x))
pd_BDR['Fecha_VCTO'] = pd_BDR['Fecha_VCTO'].apply(lambda x: to_date(x))
pd_BDR

,CONTRA,Fecha_Operac,Tip_Garant,BIENGAR1,Fecha_Inicio,Fecha_Baja,Fecha_VCTO,PORCOBER,COB_INIC,IMPT_NOM,IMP_ACTU,REPAPORC
0,1,2018-11-30,1,8235689,15AUG2017,31OCT2026,31OCT2026,100.000000,100.000000,377024.36,269708.54,100.0000
1,1,2018-11-30,1,8361707,29NOV2006,31DEC9999,31OCT2026,100.000000,100.000000,377024.36,269708.54,100.0000
2,1,2018-11-30,2,82862,29NOV2006,31OCT2026,31OCT2026,177.599122,100.000000,377024.36,479000.00,100.0000
3,2,2018-11-30,2,83012,11DEC2006,30NOV2021,30NOV2021,557.649552,100.000000,255509.23,496000.00,100.0000
4,3,2018-11-30,2,2427,07DEC1995,15OCT2025,15OCT2025,190.386600,100.000000,862086.00,616777.63,100.0000
5,5,2018-11-30,2,4525,26DEC1995,16JAN2026,16JAN2026,93.576183,100.000000,265361.00,134572.33,100.0000
6,6,2018-11-30,2,7837,07SEP1995,16SEP2020,16SEP2020,122.628972,100.000000,194889.31,233952.73,100.0000
7,7,2018-11-30,2,8665,21AUG1995,15SEP2020,15SEP2020,633.457433,100.000000,100644.00,73129.24,100.0000
8,9,2018-11-30,2,4065,16JUL1996,16JUL2026,16JUL2026,99.953276,100.000000,352441.00,199355.88,100.0000
9,10,2018-11-30,2,8053,26SEP1996,15NOV2026,15NOV2026,99.656373,100.000000,943918.00,559189.63,100.0000
10,11,2018-11-30,2,4550,09OCT1995,15OCT2020,15OCT2020,558.875451,100.000000,276610.00,182605.40,100.0000
11,13,2018-11-30,2,5265,15JAN1996,16JAN2026,16JAN2026,92.071349,100.000000,308938.00,156547.57,100.0000
12,21,2018-11-30,2,84833,29NOV2006,31OCT2021,31OCT2021,668.525317,100.000000,351319.08,745000.00,100.0000
13,23,2018-11-30,2,38282,25SEP1997,15SEP2027,15SEP2027,88.703030,73.916514,94000.00,84600.00,100.0000
14,25,2018-11-30,2,82203,19OCT2006,30SEP2025,30SEP2025,191.714514,100.000000,767801.21,913000.00,100.0000
15,27,2018-11-30,2,7163,23DEC1996,15FEB2027,15FEB2027,70.619011,100.000000,267868.07,40632.95,100.0000
16,28,2018-11-30,2,7988,20SEP1996,16NOV2026,16NOV2026,66.539644,100.000000,1184759.00,559159.07,100.0000
17,31,2018-11-30,2,47937,29JAN2004,31DEC2018,31DEC2018,298.558812,100.000000,592698.47,600000.00,100.0000
18,33,2018-11-30,2,50384,25AUG2004,31OCT2019,31OCT2019,999.999999,100.000000,236169.23,524000.00,100.0000
19,34,2018-11-30,2,54595,30MAY2005,30APR2020,30APR2020,677.286010,100.000000,261158.06,270000.00,100.0000
20,35,2018-11-30,2,54966,23MAY2005,30APR2020,30APR2020,999.999999,100.000000,467719.86,2311000.00,100.0000
21,36,2018-11-30,2,58565,19AUG2005,31JUL2019,31JUL2019,999.999999,100.000000,630571.67,827000.00,100.0000
22,37,2018-11-30,2,58869,19AUG2005,31JUL2020,31JUL2020,999.999999,100.000000,402208.68,844000.00,100.0000
23,38,2018-11-30,2,58754,01NOV2005,31OCT2020,31OCT2020,598.300358,100.000000,254387.80,383000.00,100.0000
24,39,2018-11-30,2,59079,01NOV2005,31OCT2020,31OCT2020,335.984784,100.000000,806490.24,1049000.00,100.0000
25,40,2018-11-30,2,58026,18NOV2005,31OCT2025,31OCT2025,265.573565,100.000000,567985.35,911000.00,100.0000
26,41,2018-11-30,2,57918,03NOV2005,31OCT2020,31OCT2020,999.999999,100.000000,289947.46,1781000.00,100.0000
27,42,2018-11-30,2,74763,10MAR2006,28FEB2021,28FEB2021,634.602522,100.000000,437884.40,763000.00,100.0000
28,43,2018-11-30,2,83073,03NOV2006,31MAY2020,31MAY2020,258.637869,100.000000,823933.01,1027000.00,100.0000
29,44,2018-11-30,2,15149,14NOV1995,15NOV2025,15NOV2025,165.320558,100.000000,319357.00,204571.61,100.0000
...,...,...,...,...,...,...,...,...,...,...,...,...
7055210,192998,2018-12-31,2,418201,27APR2018,03MAY2038,03MAY2038,159.461671,0.000000,0.00,1090828.82,90.6004
7055211,192999,2018-12-31,2,418201,27APR2018,03MAY2038,03MAY2038,159.460188,0.000000,0.00,113169.98,9.3995
7055212,193000,2018-12-31,1,108216162,27DEC2018,03MAY2038,03MAY2038,5.000000,100.000000,4617132.91,230856.65,5.0000
7055213,193000,2018-12-31,1,113501526,30APR2018,03MAY2038,03MAY2038,100.000000,100.000000,4631690.88,4617132.91,100.0000
7055214,193000,2018-12-31,2,418151,27APR2018,03MAY2038,03MAY2038,137.163043,0.000000,0.00,6333000.00,100.0000
7055215,193001,2018-12-31,1,108216162,23NOV2018,03APR2038,03APR2038,30.000000,100.000000,1116496.49,334627.32,30.0000
7055216,193001,2018-12-31,1,113478382,18APR2018,03APR2038,03APR2038,100.000000,100.000000,1123668.45,1115424.39,100.0000
7055217,193001,2018-12-31,2,417526,16APR2018,03APR2038,03APR2038,111.347753,0.000000,0.00,1242000.00,100.0000
7055218,193002,2018-12-31,1,108216162,28SEP2018,03MAY2043,03MAY2043,30.000000,100.000000,742301.40,222402.77,30.0000
7055219,193002,2018-12-31,2,418483,30APR2018,03MAY2043,03MAY2043,152.830828,0.000000,0.00,1133000.00,100.0000
7055220,193003,2018-12-31,1,108216162,27DEC2018,03AUG2026,03AUG2026,25.000000,100.000000,832488.74,208122.19,25.0000
7055221,193003,2018-12-31,2,417453,13APR2018,03AUG2026,03AUG2026,132.254041,0.000000,0.00,1101000.00,100.0000
7055222,193004,2018-12-31,2,417452,13APR2018,03APR2033,03APR2033,107.917178,0.000000,0.00,1836000.00,100.0000
7055223,193005,2018-12-31,2,418541,30APR2018,03MAY2038,03MAY2038,274.745409,0.000000,0.00,1044565.07,80.0433
7055224,193006,2018-12-31,2,418541,30APR2018,03MAY2038,03MAY2038,274.745421,0.000000,0.00,260433.63,19.9566
7055225,193007,2018-12-31,2,417655,19APR2018,03MAY2025,03MAY2025,258.810628,0.000000,0.00,679896.50,95.2236
7055226,193008,2018-12-31,2,417655,19APR2018,03MAY2025,03MAY2025,258.807911,0.000000,0.00,34102.78,4.7763
7055227,193009,2018-12-31,2,418563,30APR2018,03MAY2028,03MAY2028,543.567614,0.000000,0.00,1258506.17,68.4715
7055228,193010,2018-12-31,2,418563,30APR2018,03MAY2028,03MAY2028,543.567456,0.000000,0.00,579491.99,31.5284
7055229,193011,2018-12-31,2,418538,30APR2018,03MAY2038,03MAY2038,417.045012,0.000000,0.00,1078026.95,90.5905
7055230,193012,2018-12-31,2,418538,30APR2018,03MAY2038,03MAY2038,417.042323,0.000000,0.00,111971.86,9.4094
7055231,193013,2018-12-31,1,59954590,03MAY2018,03MAY2028,03MAY2028,100.000000,100.000000,1256749.73,1218881.62,100.0000
7055232,193013,2018-12-31,2,418605,30APR2018,03MAY2028,03MAY2028,183.364813,0.000000,0.00,2235000.00,100.0000
7055233,193014,2018-12-31,2,417989,26APR2018,03FEB2030,03FEB2030,187.241535,0.000000,0.00,1258229.60,96.4900
7055234,193015,2018-12-31,2,417989,26APR2018,03MAY2033,03MAY2033,187.239849,0.000000,0.00,45769.10,3.5099
7055235,193016,2018-12-31,2,417783,17JUL2018,03MAY2038,03MAY2038,126.720884,0.000000,0.00,1501000.00,100.0000
7055236,193017,2018-12-31,2,417330,11APR2018,03APR2038,03APR2038,147.612857,0.000000,0.00,1091736.03,90.6005
7055237,193018,2018-12-31,2,417330,11APR2018,03APR2038,03APR2038,147.611511,0.000000,0.00,113262.77,9.3994
7055238,193019,2018-12-31,1,108216162,27DEC2018,03MAY2033,03MAY2033,25.000000,100.000000,4222308.15,1055577.04,25.0000
7055239,193019,2018-12-31,2,418082,27APR2018,03MAY2033,03MAY2033,112.379292,0.000000,0.00,4745000.00,100.0000

## Analyzing minimum and maximum values for date columns

In [16]:
pd_BDR['Fecha_Operac'].min()

datetime.date(2017, 1, 31)

In [17]:
pd_BDR['Fecha_Operac'].max()

datetime.date(2019, 5, 31)

In [20]:
pd_BDR['Fecha_Inicio'].min()

datetime.date(1993, 10, 18)

In [21]:
pd_BDR['Fecha_Inicio'].max()

datetime.date(2019, 5, 30)

In [22]:
pd_BDR['Fecha_Baja'].min()

datetime.date(2017, 1, 3)

In [23]:
pd_BDR['Fecha_Baja'].max()

datetime.date(9999, 12, 31)

In [24]:
pd_BDR['Fecha_VCTO'].min()

datetime.date(2014, 5, 31)

In [25]:
pd_BDR['Fecha_VCTO'].max()

datetime.date(9999, 12, 31)

## Unique values

In [40]:
# [('CONTRA', 'bigint'),
#  ('Fecha_Operac', 'string'),
#  ('Tip_Garant', 'bigint'),
#  ('BIENGAR1', 'bigint'),
#  ('Fecha_Inicio', 'string'),
#  ('Fecha_Baja', 'string'),
#  ('Fecha_VCTO', 'string'),
#  ('PORCOBER', 'double'),
#  ('COB_INIC', 'double'),
#  ('IMPT_NOM', 'double'),
#  ('IMP_ACTU', 'double'),
#  ('REPAPORC', 'double')]
pd_BDR['REPAPORC'].unique()

array([100.    ,   0.    ,  15.    , ...,  31.5284,  96.49  ,   3.5099])

In [41]:
len(pd_BDR['REPAPORC'].unique())

366886

### Unique values for ['CONTRA','Fecha_Operac', 'Tip_Garant', 'BIENGAR1']

In [44]:
pd.unique(pd_BDR[['CONTRA','Fecha_Operac', 'Tip_Garant', 'BIENGAR1']].values.ravel('K'))

array([1, 2, 3, ..., 437908, 437911, 437679], dtype=object)

In [47]:
len(pd.unique(pd_BDR[['CONTRA','Fecha_Operac', 'Tip_Garant', 'BIENGAR1']].values.ravel('K')))

341099

In [11]:
from datetime import datetime
from pyspark.sql.functions import col, udf
from pyspark.sql.types import DateType

# This function converts the string cell into a date:
func =  udf (lambda x: datetime.strptime(x, '%d%b%Y'), DateType())

#Apply the function to columns
df_BDR = df_BDR.withColumn("Fecha_Operac", func(col("Fecha_Operac")))
df_BDR = df_BDR.withColumn("Fecha_Inicio", func(col("Fecha_Inicio")))
df_BDR = df_BDR.withColumn("Fecha_Baja", func(col("Fecha_Baja")))
df_BDR = df_BDR.withColumn("Fecha_VCTO", func(col("Fecha_VCTO")))


df_BDR.show(3)

df_BDR.printSchema()

+------+------------+----------+--------+------------+----------+----------+----------+--------+---------+---------+--------+
|CONTRA|Fecha_Operac|Tip_Garant|BIENGAR1|Fecha_Inicio|Fecha_Baja|Fecha_VCTO|  PORCOBER|COB_INIC| IMPT_NOM| IMP_ACTU|REPAPORC|
+------+------------+----------+--------+------------+----------+----------+----------+--------+---------+---------+--------+
|     1|  2018-11-30|         1| 8235689|  2017-08-15|2026-10-31|2026-10-31|     100.0|   100.0|377024.36|269708.54|   100.0|
|     1|  2018-11-30|         1| 8361707|  2006-11-29|9999-12-31|2026-10-31|     100.0|   100.0|377024.36|269708.54|   100.0|
|     1|  2018-11-30|         2|   82862|  2006-11-29|2026-10-31|2026-10-31|177.599122|   100.0|377024.36| 479000.0|   100.0|
+------+------------+----------+--------+------------+----------+----------+----------+--------+---------+---------+--------+
only showing top 3 rows

root
 |-- CONTRA: long (nullable = true)
 |-- Fecha_Operac: date (nullable = true)
 |-- Tip_Garant: long (nullable = true)
 |-- BIENGAR1: long (nullable = true)
 |-- Fecha_Inicio: date (nullable = true)
 |-- Fecha_Baja: date (nullable = true)
 |-- Fecha_VCTO: date (nullable = true)
 |-- PORCOBER: double (nullable = true)
 |-- COB_INIC: double (nullable = true)
 |-- IMPT_NOM: double (nullable = true)
 |-- IMP_ACTU: double (nullable = true)
 |-- REPAPORC: double (nullable = true)

# Data quality

In [ ]:
#Drop rows only if all their values are null
df_BDR = df_BDR.dropna(how='all')
df_BDR.count()

In [48]:
# Duplicated rows
duplicateRowsDF = pd_BDR[pd_BDR.duplicated()]
 
print("Duplicate Rows except first occurrence based on all columns are :")
print(duplicateRowsDF)

Duplicate Rows except first occurrence based on all columns are :
Empty DataFrame
Columns: [CONTRA, Fecha_Operac, Tip_Garant, BIENGAR1, Fecha_Inicio, Fecha_Baja, Fecha_VCTO, PORCOBER, COB_INIC, IMPT_NOM, IMP_ACTU, REPAPORC]
Index: []

In [ ]:
#Drop duplicated rows
df_BDR = df_BDR.dropDuplicates()
df_BDR.count()

**Select rows with one or more nulls from a DataFrame without listing columns explicitly**

In [50]:
 pd_BDR[pd.isnull(pd_BDR).any(axis=1)]

Empty DataFrame
Columns: [CONTRA, Fecha_Operac, Tip_Garant, BIENGAR1, Fecha_Inicio, Fecha_Baja, Fecha_VCTO, PORCOBER, COB_INIC, IMPT_NOM, IMP_ACTU, REPAPORC]
Index: []

In [ ]:
#Assuming that "key" is a unique identifier for each trip, then:

from pyspark.sql.functions import *

#rows with duplicated 'key' value are removed from the dataset
df_BDR = df_BDR.dropDuplicates(["CONTRA", "Fecha_Operac", "Tip_Garant", "BIENGAR1"])
df_BDR.count()

#rows where "key" has null values are removed from the dataset
#df_BDR = df_BDR.where(col('key').isNotNull())
df_BDR = df_BDR.where(col(["CONTRA", "Fecha_Operac", "Tip_Garant", "BIENGAR1"]).isNotNull())

df_BDR.count()

In [ ]:
#Compute the number of null values per column
nullValues = []
numRows = filtered_Dataset.count()
for k in filtered_Dataset.columns:
    nullRows = filtered_Dataset.where(col(k).isNull()).count()#return the number of null rows for a column
    nullValues.append((k, nullRows))

#sorting nullValues Tuple by the number of null values 
nullValues.sort(key=lambda x: x[1])
nullValues

### Create SQL table and query it

In [ ]:
df_BDR.createOrReplaceTempView('df_BDR_table')

### Dataset Statistics

In [ ]:
stats = spark.sql("DESCRIBE df_BDR_table")
stats.show()

# Window Function SQL

OVER clausule and ORDERBY clausule

In [112]:
#from pyspark.sql.window import Window
from pyspark.sql.functions import *


from pyspark.sql import Window
from pyspark.sql.window import Window
from pyspark.sql.functions import lag, lead, first, last

In [127]:
query1 = """
SELECT PORCOBER  FROM df_BDR_table ORDER BY PORCOBER"""
spark.sql(query1).show()

+--------+
|Qty_Sold|
+--------+
|      62|
|      18|
|      49|
|      25|
|      27|
|      49|
|      32|
|      95|
|     165|
|      40|
|      23|
|      27|
|      72|
|      59|
|      28|
|      71|
|      50|
|      37|
|      49|
|      96|
+--------+
only showing top 20 rows